.navbar {
  background-color: #1e202b !important;
}

.navbar-nav .nav-item .nav-link {
  color: white !important;
  border: 2px solid transparent; /* Set a transparent border initially */
  border-radius: 50px;
}

.navbar-nav .nav-item .nav-link:hover {
  border: 2px solid;
  border-color: #009ad8;
  color: #009ad8 !important;
  border-radius: 50px;
  transition: all 0.5s;
}

.navbar-nav .nav-item .nav-link.active {
  border: 2px solid;
  border-color: #009ad8;
  color: #009ad8 !important;
  border-radius: 50px;
  transition: all 0.5s;
}

.nav-link {
  display: block;
  padding: 3px 15px !important;
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: var(--bs-nav-link-color);
  text-decoration: none;
  background: 0 0;
  border: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.logo a {
  text-decoration: none;
  color: white;
}

.branding .logo-type {
  display: inline-block;
  vertical-align: middle;
  line-height: 1px;
}

.site-description {
  font-size: 14px;
  font-weight: 300;
  color: rgb(191, 193, 200);
}

.branding img {
  display: inline-block;
  vertical-align: middle;
}

header {
  background-color: #1e202b;
  height: 75vh;
}

.header-background {
  width: 100%;
}

.header-background img {
  width: 100%;
}

.header-content-container {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.header-content-container input::placeholder {
  color: rgb(191, 193, 200);
}

.form-control:focus {
  color: rgb(191, 193, 200);
  background-color: #1e202b;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #1e202b;
  box-sizing: border-box;
  background-clip: padding-box;
  border: none;
  border-radius: 50px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#api-core-table {
  top: 150px;
}

.current-weather {
  background-color: #323544 !important;
  border: 1px solid transparent !important;
  border-radius: 15px !important;
}

.current-weather .header {
  background-color: #2d303d !important;
  border: 1px solid transparent !important;
  border-radius: 15px !important;
}

.col3 {
  background-color: #2d303d !important;
}

.current-weather .temperature {
  background-color: #323544 !important;
  color: white;
  font-size: 70px;
  font-weight: 700 !important;
  /* line-height: 135px !important; */
}

.current-weather .header .text {
  color: rgb(191, 193, 200);
}

#endline {
  color: rgb(191, 193, 200);
}

.current-weather .body .name {
  font-size: 24px;
  font-weight: 300;
  color: rgb(191, 193, 200);
}

.current-weather .body .degree .o {
  position: relative;
  top: -40px;
  left: 8px;
  color: white;
  font-size: 70px;
  font-weight: 400 !important;
  line-height: 135px !important;
}

.current-weather .body .degree .c {
  color: white;
  font-size: 70px;
  font-weight: 700 !important;
  line-height: 135px !important;
}

.current-weather .body .degree {
  position: relative;
  right: 10px;
}

.current-weather .body .weather-icon {
  vertical-align: baseline;
}

.current-weather .body .weather-icon img {
  width: 100% !important;
  height: 100% !important;
}

.current-weather .body .condition {
  color: #009ad8;
}

.current-weather .body .wind-speed {
  color: rgb(191, 193, 200);
}

.current-weather .body .wind-direction {
  color: rgb(191, 193, 200);
}

.current-weather .body .rain-percent {
  color: rgb(191, 193, 200);
}

.forecast-day {
  background-color: #262936 !important;
  text-align: center;
  border: 1px solid transparent !important;
  border-radius: 15px !important;
}

.forecast-day .text {
  color: rgb(191, 193, 200);
}

.forecast-day .header {
  background-color: #222530 !important;
  border: 1px solid transparent !important;
  border-radius: 15px !important;
}

.forecast-day .forecast-first-day-max-temperature {
  color: white;
  font-weight: 700;
  font-size: 24px;
}

.forecast-day .forecast-first-day-min-temperature {
  color: rgb(191, 193, 200);
  font-weight: 300;
  font-size: 16px;
}

.forecast-day .forecast-first-day-max-degree .o {
  position: relative;
  top: -15px;
  left: 5px;
  color: white;
  font-size: 20px !important;
  font-weight: 400 !important;
  line-height: 70px !important;
}

.forecast-day .forecast-first-day-max-degree .c {
  color: white;
  font-size: 20px !important;
  font-weight: 700 !important;
  line-height: 82px !important;
}

.forecast-day .forecast-first-day-min-degree .o {
  position: relative;
  top: -15px;
  left: 5px;
  color: rgb(191, 193, 200);
  font-size: 15px !important;
  font-weight: 400 !important;
  line-height: 70px !important;
}

.forecast-day .forecast-first-day-min-degree .c {
  color: rgb(191, 193, 200);
  font-size: 15px !important;
  font-weight: 400 !important;
  line-height: 73.5px !important;
}

.forecast-day .forecast-first-day-degree {
  position: relative;
  right: 10px;
}

.forecast-day .weather-forecast-first-day-icon img {
  width: 100% !important;
  height: 100% !important;
}

.forecast-first-day-condition {
  color: #009ad8;
}

.row3 {
  background-color: #323544 !important;
}

@media screen and (max-width: 2000px) {
  header {
    height: 100vh !important;
  }
}

@media screen and (max-width: 768px) {
  header {
    height: 120vh !important;
  }

  .current-weather .temperature {
    font-size: 70px !important;
  }
  .current-weather .degree .o,
  .current-weather .degree .c {
    font-size: 70px !important;
  }
}

.site-footer {
  background: #262936;
  padding: 50px 0;
}

.site-footer .subscribe-form input[type="text"] {
  padding: 20px 100px 20px 20px;
  background: #1e202b;
  width: 100%;
  color: white;
}

form input,
form textarea,
form select {
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 30px;
}

.site-footer .subscribe-form input[type="submit"] {
  position: absolute;
  right: 5px;
  top: 5px;
  bottom: 5px;
}

.button,
form input[type="submit"],
form input[type="button"],
form button,
form input[type="reset"] {
  border: none;
  background: #009ad8;
  padding: 10px 20px;
  border-radius: 30px;
  color: white;
}

form input[type="submit"] {
  top: 0;
}

.colophon {
  color: rgb(191, 193, 200);
}

.social-links a i {
  width: 40px;
  height: 40px;
}

.site-footer .social-links a {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50%;
  background: #1e202b;
  color: #009ad8;
  text-align: center;
  line-height: 1.7;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-size: 30px;
}

.site-footer .social-links a:hover {
  background: #009ad8;
  color: white;
}
